.inventory-category-controls {
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
}

.inventory-category-button {
  min-height: 35px;
  width: 100px;
  
  border: 1px solid var(--color-border);
  border-radius: 10px;
  background: var(--color-background);
  color: var(--color-text);
  font-weight: 500;
}

.inventory-category-button.active {
  font-weight: 600;
  background: var(--color-accent);
  color: var(--color-accent-contrast);
}

.inventory-search {
  flex: 1;
  min-height: 35px;

  border: 1px solid var(--color-border);
  border-radius: 10px;
  color: var(--color-text);
  font-weight: 600;
}

.inventory-product-table-container {
  overflow-y: auto;
}