.inventory-category-controls {
  display: flex;
  grid-template-columns: repeat(10, 1fr);
  gap: 1px;
  flex-wrap: wrap;
}

.inventory-category-button {
  min-height: 30px;
  width: 120px;
  color: var(--color-text);
  font-weight: 600;
}